.newShipment {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: var(--radius-card);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newShipment .header {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--line-colour);
}

.newShipment .footer {
  padding-top: 0.7rem;
  border-top: 1px solid var(--line-colour);
}

.newShipment .header,
.newShipment .footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.newShipment .header p {
  font-size: var(--size-regular);
  color: var(--secondary);
  text-transform: capitalize;
  font-weight: var(--font-semibold);
}

.newShipment .form {
  height: 100%;
  padding-top: 1rem;
}

.shipment_Route_Timing {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
