.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 8px;
  text-transform: capitalize;
  border: none;
  border-radius: var(--radius);
  font: inherit;
  cursor: pointer;
  font-size: var(--size-small);
  text-align: center;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.message {
  transform: translateY(-10px);
  color: var(--danger);
  font-size: var(--size-very-small);
  opacity: 1;
  text-transform: lowercase;
}
