.dashboard {
  /* height: 100vh; */
  overflow-x: hidden;
  position: relative;
}

.sidebarHolder {
  width: 220px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.mainContent {
  min-height: 100vh;
  margin-left: 220px;
  background-color: var(--line-colour);
  padding: 1rem;
}
