.loginPage {
  width: 100%;
  h1 {
    text-align: center;
    font-size: var(--size-large);
  }

  > p {
    font-size: var(--size-small);
  }

  > button {
    width: 100%;
    padding-block: 10px;
    background-color: #fff;
    border: 1px solid var(--faded-text-colour);
    border-radius: var(--radius);
    margin-block: 1rem;
  }
}

.loginCTRLs {
  display: flex;
  justify-content: space-between;
  font-size: var(--size-small);
  text-transform: capitalize;
  margin-block: 14px;
}
