.searchBar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: var(--radius-card);
  gap: 1rem;
}

.searchInput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  input {
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
  }
}

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}
